@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  max-width: 1240px;
  margin: 0 auto;
}
body a:hover {
  text-decoration: underline;
}
.status-section h2 {
  font-size: 40px;
  font-weight: 700;
  @media screen and (max-width: 600px) {
    font-size: 30px;
    font-weight: 600;
  }
}
.status-section p{
  opacity: 0.8;
}

footer h2 {
  font-size: 20px;
  font-weight: 500;
  @media screen and (max-width: 600px) {
    font-size: 18px;
    font-weight: 500;
  }
}
footer a {
  opacity: 0.8;
  font-size: small;
}
footer a:hover {
  color: cyan;
}
